.container {
    display: flex;
    justify-content: center;
}
.form-container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 191, 191);
    padding: 10px;
    border-radius: 5%;
    text-align: center;
    height: 50vh;
    border: 1px solid black;
    size: 500px;
}
.altaTitulo{
    text-align: center;
    margin-bottom: 40px;
}

.altaInput{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.grupoInputs{
    width: 50%;
    margin: 10px;
}

.grupoInputs input{
    width: 70%;
}

.grupoInputs label{
    padding: 10px;
}

.btn-submit{
    width: 20%;
    align-self:flex-end;

}