body{
    margin: 0;
    padding: 0;
    background-color: rgb(186, 231, 199);
    font: oblique bold 120% cursive;
    background-image: url("cremaaaaaa.jpg"); 
}

.header{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 255, 102);
    height: 150px;
    border-radius: 10px;
    
}

.titulo{
    text-align: center;
    color: rgb(208, 248, 239);
}

.menu{
    display: flex;
    justify-content: space-around;
    
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: rgb(71, 69, 69);
    background-color: rgb(165, 248, 209);
    margin: 10px;
    border-radius: 20px;
}

.menu a:hover{
    border: 1px solid rgb(21, 3, 42);
    background-color: rgb(133, 173, 185);
    color: rgb(0, 0, 0);
}