body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(270deg, #ecfb62 0, #d4fb62 10%, #b9fa64 20%, #9af969 30%, #74f670 40%, #3cf278 50%, #00ee83 60%, #00ea90 70%, #00e59f 80%, #00e2b0 90%, #00dec2 100%);
}

.header{
    display: flex;
    flex-direction: column;
    background-color:radial-gradient(circle at 102.85% 50%, #e5ffc5 0, #d6ffc5 7.14%, #c5ffc6 14.29%, #b3ffc7 21.43%, #9effc9 28.57%, #85fdcb 35.71%, #68f8ce 42.86%, #3cf2d2 50%, #00ecd7 57.14%, #00e6dd 64.29%, #00e1e4 71.43%, #00dbec 78.57%, #00d6f5 85.71%, #00d1fe 92.86%, #00cdff 100%);
    height: 120px;
    
}

.titulo{
    text-align: center;
    color: rgb(0, 0, 0);
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: rgb(71, 69, 69);
    background-color: rgb(165, 248, 209);
    margin: 10px;
    border-radius: 20px;
}

.menu a:hover{
    border: 1px solid rgb(21, 3, 42);
    background-color: rgb(133, 173, 185);
    color: rgb(0, 0, 0);
}