body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(90deg, rgba(167,10,93,1) 22%, rgba(110,44,148,1) 47%, rgba(167,10,93,1) 92%);
}

.header{
    display: flex;
    flex-direction: column;
    background-color:#086e56;
    height: 120px;
    
}

.titulo{
    text-align: center;
    color: rgb(0, 0, 0);
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: rgb(71, 69, 69);
    background-color: rgb(165, 248, 209);
    margin: 10px;
    border-radius: 20px;
}

.menu a:hover{
    border: 1px solid rgb(21, 3, 42);
    background-color: rgb(133, 173, 185);
    color: rgb(0, 0, 0);
}